{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'mychat/styles.css' %}" />
{% endblock %}
{% block content %}
  <div class="nav">
    <ul>
      <li>
        <a href="{% url 'my-index' %}">Go to GPT-4</a>
      </li>
    </ul>
  </div>
  <form action="" method="POST">
    {% csrf_token %}

    <div class="form-control">{{ form.question.label_tag }}
      {{ form.question }}</div>

    <button type="submit">Send</button>
  </form>
{% endblock %}
